<ion-toolbar mode="md">
  <ion-buttons slot="start" (click)="goBack()" *ngIf="backText">
    <ion-icon style="color: #07544c" name="chevron-back-outline" slot="end"></ion-icon>
    <ion-text class="ion-text-capitalize" style="color: #07544c">{{backText ? backText : 'Regresar'}}</ion-text>
  </ion-buttons>
  <ion-title class="ion-text-uppercase">{{title}}</ion-title>
  <ion-buttons slot="end" *ngIf="endButton.show" (click)="modal.dismiss()">
    <ion-button>
      <ion-icon *ngIf="endButton.icon" style="font-size: 16pt;" name="{{endButton.icon}}"></ion-icon> {{endButton.text}}
    </ion-button>
  </ion-buttons>
</ion-toolbar>