<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button *ngIf="!course" color="danger" [disabled]="loading" (click)="modal.dismiss(false)">
        Cancelar
      </ion-button>
      <ion-button *ngIf="editCourseForm" color="danger" [disabled]="loading" (click)="editCourse()">
        Cancelar
      </ion-button>
      <ion-button *ngIf="course && !editCourseForm" color="primary" [disabled]="loading" (click)="modal.dismiss(false)">
        Atrás
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">{{course ? course.title: 'Nuevo Anuncio'}}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!course || editCourseForm" color="success" (click)="createCourse()" 
        [disabled]="loading">
          Guardar
      </ion-button>
      <ion-button *ngIf="course && !editCourseForm && (user.uid === course.author?.uid)" color="dark" (click)="editCourse()">
          Editar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"  *ngIf="loading">
  <app-loading-view></app-loading-view>
</ion-content>

<ion-content class="ion-padding" *ngIf="!loading && (!course || editCourseForm)">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Título:</ion-label>
      <ion-input type="text" [value]="myCourse.title" (ionChange)="titleListener($event)"></ion-input>
    </ion-item>
    <ion-text class="ion-padding-start" color="danger" *ngIf="myCourse?.title.length === 0 || !myCourse?.title"> 
      <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
      Ingresa el título de este curso
    </ion-text>
    
    <ion-item>
      <ion-label position="stacked">Contenido:</ion-label>
      <ion-textarea rows="3" [value]="myCourse.description" (ionChange)="descriptionListener($event)"></ion-textarea>
    </ion-item>
    <ion-text class="ion-padding-start" color="danger" *ngIf="myCourse?.description.length === 0 || !myCourse?.description"> 
      <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
      Ingresa una descripción corta de este curso
    </ion-text>
    <ion-item>
      <ion-label position="stacked">Video:</ion-label>
      <ion-input type="text" [value]="myCourse.video" (ionChange)="titleListener($event)"></ion-input>
    </ion-item>
    <ion-text class="ion-padding-start" color="danger" *ngIf="myCourse?.video.length === 0 || !myCourse?.video"> 
      <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
      Ingresa el url del video de este curso
    </ion-text>
  </ion-list>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Examen</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label>Pregunta 1</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label position="stacked">Pregunta 1:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[0].question" (ionChange)="questionListener(0,$event)"></ion-input>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[0].question.length === 0 || !newExamen.questions[0].question"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la pregunta 1
        </ion-text>
        
        <ion-item>
          <ion-label position="stacked">Respuesta 1:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[0].answers[0].text" (ionChange)="answerListener(0,0,$event)"></ion-input>
          <ion-checkbox slot="end" mode='md' (ionChange)="checkBoxListener(0,0,$event)" [checked]="newExamen.questions[0].answers[0].correct" color="primary"></ion-checkbox>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[0].answers[0].text.length === 0 || !newExamen.questions[0].answers[0].text"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la repuesta 1
        </ion-text>
        <ion-item>
          <ion-label position="stacked">Respuesta 2:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[0].answers[1].text" (ionChange)="answerListener(0,1,$event)"></ion-input>
          <ion-checkbox slot="end" mode='md' (ionChange)="checkBoxListener(0,1,$event)" [checked]="newExamen.questions[0].answers[1].correct" color="primary"></ion-checkbox>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[0].answers[1].text.length === 0 || !newExamen.questions[0].answers[1].text"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la repuesta 2
        </ion-text>
        <ion-item>
          <ion-label position="stacked">Respuesta 3:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[0].answers[2].text" (ionChange)="answerListener(0,2,$event)"></ion-input>
          <ion-checkbox slot="end" mode='md' (ionChange)="checkBoxListener(0,2,$event)" [checked]="newExamen.questions[0].answers[2].correct" color="primary"></ion-checkbox>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[0].answers[2].text.length === 0 || !newExamen.questions[0].answers[2].text"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la repuesta 3
        </ion-text>

        <ion-list-header>
          <ion-label>Pregunta 2</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label position="stacked">Pregunta 2:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[1].question" (ionChange)="questionListener(1,$event)"></ion-input>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[1].question.length === 0 || !newExamen.questions[1].question"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la pregunta 2
        </ion-text>
        
        <ion-item>
          <ion-label position="stacked">Respuesta 1:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[1].answers[0].text" (ionChange)="answerListener(1,0,$event)"></ion-input>
          <ion-checkbox slot="end" mode='md' (ionChange)="checkBoxListener(1,0,$event)" [checked]="newExamen.questions[1].answers[0].correct" color="primary"></ion-checkbox>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[1].answers[0].text.length === 0 || !newExamen.questions[1].answers[0].text"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la repuesta 1
        </ion-text>
        <ion-item>
          <ion-label position="stacked">Respuesta 2:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[1].answers[1].text" (ionChange)="answerListener(1,1,$event)"></ion-input>
          <ion-checkbox slot="end" mode='md' (ionChange)="checkBoxListener(1,1,$event)" [checked]="newExamen.questions[1].answers[1].correct" color="primary"></ion-checkbox>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[1].answers[1].text.length === 0 || !newExamen.questions[1].answers[1].text"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la repuesta 2
        </ion-text>
        <ion-item>
          <ion-label position="stacked">Respuesta 3:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[1].answers[2].text" (ionChange)="answerListener(1,2,$event)"></ion-input>
          <ion-checkbox slot="end" mode='md' (ionChange)="checkBoxListener(1,2,$event)" [checked]="newExamen.questions[1].answers[2].correct" color="primary"></ion-checkbox>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[1].answers[2].text.length === 0 || !newExamen.questions[1].answers[2].text"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la repuesta 3
        </ion-text>

        <ion-list-header>
          <ion-label>Pregunta 3</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label position="stacked">Pregunta 3:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[2].question" (ionChange)="questionListener(2,$event)"></ion-input>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[2].question.length === 0 || !newExamen.questions[2].question"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la pregunta 2
        </ion-text>
        
        <ion-item>
          <ion-label position="stacked">Respuesta 1:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[2].answers[0].text" (ionChange)="answerListener(2,0,$event)"></ion-input>
          <ion-checkbox slot="end" mode='md' (ionChange)="checkBoxListener(2,0,$event)" [checked]="newExamen.questions[2].answers[0].correct" color="primary"></ion-checkbox>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[2].answers[0].text.length === 0 || !newExamen.questions[2].answers[0].text"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la repuesta 1
        </ion-text>
        <ion-item>
          <ion-label position="stacked">Respuesta 2:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[2].answers[1].text" (ionChange)="answerListener(2,1,$event)"></ion-input>
          <ion-checkbox slot="end" mode='md' (ionChange)="checkBoxListener(2,1,$event)" [checked]="newExamen.questions[2].answers[1].correct" color="primary"></ion-checkbox>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[2].answers[1].text.length === 0 || !newExamen.questions[2].answers[1].text"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la repuesta 2
        </ion-text>
        <ion-item>
          <ion-label position="stacked">Respuesta 3:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[2].answers[2].text" (ionChange)="answerListener(2,2,$event)"></ion-input>
          <ion-checkbox slot="end" mode='md' (ionChange)="checkBoxListener(2,2,$event)" [checked]="newExamen.questions[2].answers[2].correct" color="primary"></ion-checkbox>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[2].answers[2].text.length === 0 || !newExamen.questions[2].answers[2].text"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la repuesta 3
        </ion-text>

        <ion-list-header>
          <ion-label>Pregunta 4</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label position="stacked">Pregunta 4:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[3].question" (ionChange)="questionListener(3,$event)"></ion-input>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[3].question.length === 0 || !newExamen.questions[3].question"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la pregunta 2
        </ion-text>
        
        <ion-item>
          <ion-label position="stacked">Respuesta 1:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[3].answers[0].text" (ionChange)="answerListener(3,0,$event)"></ion-input>
          <ion-checkbox slot="end" mode='md' (ionChange)="checkBoxListener(3,0,$event)" [checked]="newExamen.questions[3].answers[0].correct" color="primary"></ion-checkbox>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[3].answers[0].text.length === 0 || !newExamen.questions[3].answers[0].text"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la repuesta 1
        </ion-text>
        <ion-item>
          <ion-label position="stacked">Respuesta 2:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[3].answers[1].text" (ionChange)="answerListener(3,1,$event)"></ion-input>
          <ion-checkbox slot="end" mode='md' (ionChange)="checkBoxListener(3,1,$event)" [checked]="newExamen.questions[3].answers[1].correct" color="primary"></ion-checkbox>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[3].answers[1].text.length === 0 || !newExamen.questions[3].answers[1].text"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la repuesta 2
        </ion-text>
        <ion-item>
          <ion-label position="stacked">Respuesta 3:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[3].answers[2].text" (ionChange)="answerListener(3,2,$event)"></ion-input>
          <ion-checkbox slot="end" mode='md' (ionChange)="checkBoxListener(3,2,$event)" [checked]="newExamen.questions[3].answers[2].correct" color="primary"></ion-checkbox>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[3].answers[2].text.length === 0 || !newExamen.questions[3].answers[2].text"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la repuesta 3
        </ion-text>

        <ion-list-header>
          <ion-label>Pregunta 5</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label position="stacked">Pregunta 5:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[4].question" (ionChange)="questionListener(4,$event)"></ion-input>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[4].question.length === 0 || !newExamen.questions[4].question"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la pregunta 2
        </ion-text>
        
        <ion-item>
          <ion-label position="stacked">Respuesta 1:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[4].answers[0].text" (ionChange)="answerListener(4,0,$event)"></ion-input>
          <ion-checkbox slot="end" mode='md' (ionChange)="checkBoxListener(4,0,$event)" [checked]="newExamen.questions[4].answers[0].correct" color="primary"></ion-checkbox>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[4].answers[0].text.length === 0 || !newExamen.questions[4].answers[0].text"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la repuesta 1
        </ion-text>
        <ion-item>
          <ion-label position="stacked">Respuesta 2:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[4].answers[1].text" (ionChange)="answerListener(4,1,$event)"></ion-input>
          <ion-checkbox slot="end" mode='md' (ionChange)="checkBoxListener(4,1,$event)" [checked]="newExamen.questions[4].answers[1].correct" color="primary"></ion-checkbox>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[4].answers[1].text.length === 0 || !newExamen.questions[4].answers[1].text"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la repuesta 2
        </ion-text>
        <ion-item>
          <ion-label position="stacked">Respuesta 3:</ion-label>
          <ion-input type="text" [value]="newExamen.questions[4].answers[2].text" (ionChange)="answerListener(4,2,$event)"></ion-input>
          <ion-checkbox slot="end" mode='md' (ionChange)="checkBoxListener(4,2,$event)" [checked]="newExamen.questions[4].answers[2].correct" color="primary"></ion-checkbox>
        </ion-item>
        <ion-text class="ion-padding-start" color="danger" *ngIf="newExamen.questions[4].answers[2].text.length === 0 || !newExamen.questions[4].answers[2].text"> 
          <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>
          Ingresa la repuesta 3
        </ion-text>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>